<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <aside>
        <a class="button" href="/birds">Home</a>
        <a class="button" href="/birds/create">Create New Bird</a>
    </aside>
    <main id="birds">
        <h2>Page Not Found</h2>
    </main>
    <%- include('partials/footer') %>
</body>
</html>